* {
  font-family: helvetica, sans-serif;
}

body {
  text-align: center;
  margin: 0;
}

a {
  color: #00f;
  text-decoration: none;
}

div#header {
  background: #5f9;
  border-bottom: 1px solid #0a4;
}

div#header h1 {
  font-size: 2em;
  text-align: left;
  width: 700px;
  color: #073;
  margin: 0 auto;
  padding: 0.5em 0 0 0;
}

div#container {
  text-align: left;
  width: 700px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #ccc;
}

.header h2 {
  margin-top: 0.5em;
  font-size: 1em;
  color: #aaa;
  margin-bottom: 0.5em;
}

.content {
  margin: 1em;
}

.content h2 {
  margin: 0 -0.5em 0.5em -0.5em;
  padding: 0.2em 0.5em;
  background: #bfb;
  border-bottom: 1px solid #9c9;
  font-size: 1.2em;
}

.content h2.anchor {
  margin-bottom: 0;
}

.content h2 span.actions {
  float: right;
  font-size: 80%;
  font-weight: normal;
  margin-top: 0.25em;
}

.content h2 span.actions a {
  opacity: 0.5;
  text-decoration: underline;
}

.content h2 span.actions a:hover {
  opacity: 1.0;
}

.content h2 span.balance {
  float: right;
}

#links a.highlight {
  padding: 0.5em 0.2em;
  background: #5f9;
  color: #073;
  border: 1px solid #0a4;
  border-top: 1px solid #5f9;
}

.content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2em;
}

td, th {
  text-align: left;
  vertical-align: top;
}

.account_links {
  font-size: 90%;
  opacity: 0.5;
}

.zoomed .account_links {
  display: none;
}

tr.account {
  line-height: 2em;
  background: #bfb;
}

tr.account th {
  font-weight: bold;
}

tr.account th a {
  display: block;
  color: #000;
}

tr.account td, tr.account th {
  padding: 0 0.3em;
  border-bottom: 1px solid #9c9;
}

tr.bucket {
  font-size: 0.9em;
}

tr.bucket td {
  padding: 0.25em 0.3em 0.25em 1em;
}

tr.bucket a {
  display: block;
  color: #000;
}

tr.bucket td.number {
  opacity: 0.5;
}

tr.bucket td.more a {
  color: #00f;
  display: inline;
}

tr.even {
  background: #f7f7f7;
}

tr.bucket td.indent {
  width: 2em;
}

td.total {
  font-weight: bold;
}

td.number {
  text-align: right;
  width: 1px;
  padding-left: 0.5em;
  white-space: nowrap;
}

span.real_balance {
  font-size: 80%;
  color: #999;
}

.negative {
  color: red;
}

td.date {
  width: 1px;
  padding-left: 0.3em;
  padding-right: 0.5em;
  opacity: 0.5;
}

td.expand {
  width: 1px;
  padding-right: 0.3em;
  text-align: center;
}

td.expanding {
  background-color: #f77;
}

td.expanding * {
  visibility: none;
}

td.expand a.collapse {
  display: none;
}

td.expanding a {
  display: none;
}

td.expanded a.expand {
  display: none;
}

table.entries th {
  line-height: 2em;
  background: #bfb;
  padding: 0 0.3em;
  border-bottom: 1px solid #9c9;
}

table.entries tr td {
  padding: 0.2em 0.4em;
}

table.entries tr.zoomed {
  background: #ffa;
}

table.entries td.zoom {
  padding: 0;
  background: #cc7;
  border-top: 3px solid #777;
}

td.zoom table {
  border-right: 3px solid #777;
  border-bottom: 3px solid #777;
  background: #ffd;
  width: auto;
  margin: -3px 0 1em 7.5em;
  font-size: 80%;
}

td.zoom td {
  padding: 0 1em;
}

td.zoom tr.odd td {
}

td.zoom tr.even td {
  background: #eea;
}

.form {
  background: #eee;
  padding: 0.3em 1em;
}

.form input {
  font-size: 1em;
}

.form select {
  font-size: 1em;
}

.form fieldset {
  border: 2px solid #ccc;
  margin-top: 0.5em;
  background: white;
}

.form fieldset legend {
  color: #777;
  font-size: 0.9em;
  font-weight: bold;
  background: white;
  padding: 0 0.4em;
}

.form p {
}

.form .instructions {
  font-size: 90%;
  border: 1px solid #ccc;
  background: #cfc;
  padding: 0 1em;
  color: #070;
}

.form p small {
  color: #c75;
}

.form strong {
  font-weight: bold;
  color: black;
  background: #ffc;
  padding: 2px;
}

div.transaction div.notice {
  padding: 0 1em;
  border: 2px solid #050;
  background: #9f9;
  color: #050;
}

div.transaction div.notice p {
  margin: 0.5em 0;
  padding-left: 24px;
  background-image: url("/images/success16.png");
  background-repeat: no-repeat;
  background-position: left middle;
}

div#new_account {
  width: 30em;
  margin: 0 auto;
}

div#new_account input.text {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  color: #007;
  padding: 0.1em;
  margin: 0.25em;
  width: 95%;
}

div#new_account div.role {
  margin: 0.25em;
  font-size: 0.9em;
}

input.number {
  text-align: right;
}
