* {
  font-family: helvetica, sans-serif;
}

body {
  text-align: center;
  margin: 0;
}

a {
  color: #00f;
  text-decoration: none;
}

div#header {
  background: #5f9;
  border-bottom: 1px solid #0a4;
}

div#header h1 {
  font-size: 2em;
  text-align: left;
  width: 700px;
  color: #073;
  margin: 0 auto;
  padding: 0.5em 0 0 0;
}

div#container {
  text-align: left;
  width: 700px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #ccc;
}

.header h2 {
  margin-top: 0.5em;
  font-size: 1em;
  color: #aaa;
  margin-bottom: 0.5em;
}

.content {
  margin: 1em;
}

.content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2em;
}

td {
  text-align: left;
}

tr.account {
  line-height: 2em;
  background: #BFFFBF;
}

tr.account th {
  font-weight: bold;
}

tr.account th a {
  display: block;
  color: #000;
}

tr.account td, tr.account th {
  padding: 0 0.3em;
  border-bottom: 1px solid #9c9;
}

tr.bucket {
  font-size: 0.9em;
}

tr.bucket td {
  padding: 0.25em 0.3em 0.25em 1em;
}

tr.bucket a {
  display: block;
  color: #000;
}

tr.bucket td.number {
  opacity: 0.5;
}

tr.bucket td.more a {
  color: #00f;
  display: inline;
}

tr.even {
  background: #f7f7f7;
}

tr.bucket td.indent {
  width: 2em;
}

td.total {
  font-weight: bold;
}

td.number {
  text-align: right;
  width: 1px;
  padding-left: 0.5em;
}

td.negative {
  color: red;
}

td.date {
  width: 1px;
  padding-left: 0.3em;
  padding-right: 0.5em;
  opacity: 0.5;
}

td.expand {
  width: 1px;
  padding-right: 0.3em;
  text-align: center;
}

table.entries th {
  line-height: 2em;
  background: #BFFFBF;
  padding: 0 0.3em;
  border-bottom: 1px solid #9c9;
}

table.entries tr td {
  padding: 0.2em 0.4em;
}

table.entries tr.zoomed {
  border: 2px solid #aca;
  border-bottom: none
}

table.entries tr.zoomed {
  border-bottom: 2px solid #aca;
}

table.entries td.zoom {
  padding: 0;
  border: 0;
}

td.zoom table {
  border: 2px solid #aca;
  border-top: 1px solid #aca;
  background: #dfd;
  width: auto;
  margin: 0 7.5em;
  font-size: 80%;
}

td.zoom td {
  padding: 0 1em;
}

td.zoom tr.odd td {
  border: none;
}

td.zoom tr.even td {
  background: #aea;
  border: none;
}

div.transaction {
  background: #eee;
  padding: 0.3em 1em;
}

div.transaction input {
  font-size: 1em;
}

div.transaction select {
  font-size: 1em;
}

div.transaction fieldset {
  border: 2px solid #ccc;
  margin-top: 0.5em;
  background: white;
}

div.transaction fieldset legend {
  color: #777;
  font-size: 0.9em;
  font-weight: bold;
  background: white;
  padding: 0 0.4em;
}

div.transaction p {
}

div.transaction p small {
  color: #c75;
}

div.transaction strong {
  font-weight: bold;
  color: black;
  background: #ffc;
  padding: 2px;
}

input.number {
  text-align: right;
}
