<fieldset id="transfer_from" style="display: none">
  <legend>Transfer Source</legend>

  <p>
    <strong>Which account</strong> were funds transferred <strong>from</strong>? <%= select_account(:transfer_from) %>
    <span id="transfer_from.check_options" style="display: none">
      <strong>Check #</strong><%= form.text_field :check_number, :size => 6 %>
    </span>
  </p>

  <p id="transfer_from.single_bucket"><strong>Which bucket</strong> were funds transferred from? <%= select_bucket(:transfer_from) %></p>

  <div id="transfer_from.multiple_buckets" style="display: none">
    <p>This transfer pulled from multiple buckets. <span id="transfer_from.unassigned"></span></p>
    <ol id="transfer_from.line_items">
    </ol>
    <p><%= link_to_function "More buckets, please!", "Events.addLineItemTo('transfer_from', true)" %></p>
  </div>
</fieldset>
