#data.content
  %h2
    = balance_cell(bucket, :classes => %w(total balance), :tag => "span", :id => "balance")
    == #{link_to(h(bucket.account.name), bucket.account)}:
    &= bucket.name

  %table.entries
    = render(@items)
