#data.content
  .navigation
    = link_to "Dashboard", subscription_path(subscription)

  %h2
    = balance_cell(tag_ref, :classes => %w(total balance), :tag => "span", :id => "balance")
    == tag "#{h(tag_ref.name)}"

  %table.entries
    = render(@items)
