%h2 Welcome to BucketWise!

%p <strong>To get started</strong>, you'll need to create at least one account |
  (a bank account, credit card account, etc). "Accounts" are where your money is |
  actually stored. |

%p.create== [ #{link_to("Click here to create your first account", "#", onclick: "Accounts.revealForm()")} ]

%p <strong>Once you've created</strong> your first account, you can create more accounts, |
  record transactions, and basically get on with keeping your finances |
  under control! |
