<div class="header">
  <h1>Buckets</h1>
  <h2>Record a new <a href="javascript:$('data').hide(); $('new_expense').show()">expense</a> or <a href="">deposit</a></h2>
</div>

<div class="transaction" id="new_expense" style="display: none">
  <%= render :partial => "events/form" %>
</div>

<div id="data" class="content">
  <table>
    <tr class="account"><th><a href="">Checking</a></th><td class="number total">$1,234.56</td></tr>
    <tr class="bucket odd"><td><a href="">Groceries</a></td><td class="number negative">-$100.00</td></tr>
    <tr class="bucket even"><td><a href="">Household</a></td><td class="number">$200.17</td></tr>
    <tr class="bucket odd"><td><a href="">Books</a></td><td class="number">$100.00</td></tr>
    <tr class="bucket even"><td><a href="">Auto:Fuel</a></td><td class="number">$250.00</td></tr>
    <tr class="bucket odd"><td><a href="">Baby Supplies</a></td><td class="number">$145.45</td></tr>
    <tr class="bucket"><td colspan="2" class="more">&rarr; <a href="">see all 35 buckets</a></td></tr>
    <tr class="account"><th><a href="">Savings</a></th><td class="number total">$1,234.56</td></tr>
    <tr class="bucket odd"><td><a href="">Vacation</a></td><td class="number">$200.00</td></tr>
    <tr class="bucket even"><td><a href="">General</a></td><td class="number">$1,034.56</td></tr>
    <tr class="account"><th><a href="">Mastercard</a></th><td class="number negative total">-$123.45</td></tr>
    <tr class="account"><th><a href="">Visa</a></th><td class="number negative total">-$12.34</td></tr>
  </table>
</div>