<div class="header">
  <h2 id="links">Record a new <%= link_to_function "expense", "Events.revealExpenseForm()" %> or <a href="">deposit</a></h2>
</div>

<div class="transaction" id="new_expense" style="display: none">
  <%= render :partial => "events/form" %>
</div>

<div id="data" class="content">
  <h2>Recent transactions</h2>

  <table class="entries" id="recent_entries">
    <%= render :partial => "events/event", :collection => subscription.events.recent %>
  </table>

  <h2>Accounts summary</h2>

  <table id="accounts_summary">
    <%= render :partial => "accounts/account", :collection => subscription.accounts %>
  </table>
</div>
