<div class="header">
  <h1>Buckets</h1>
  <h2>Record a new <a href="javascript:$('data').hide(); $('new_expense').show()">expense</a> or <a href="">deposit</a></h2>
</div>

<div class="transaction" id="new_expense" style="display: none">
  <form>
    <fieldset>
      <legend>General Information</legend>

      <p><strong>When</strong> did this expense occur? <input type="text" size="10" /></p>
      <p><strong>How much</strong> was paid? $<input type="text" size="8" /></p>
      <p><strong>Who</strong> received the payment? <input type="text" size="30" /></p>
    </fieldset>

    <fieldset>
      <legend>Payment Method</legend>

      <p><strong>How</strong> did you pay for this? <select onchange="$('checkOptions').hide(); $('creditOptions').hide(); switch(this.options[this.selectedIndex].value) { case 'check': $('checkOptions').show(); break; case 'credit': $('creditOptions').show(); break; }"><option>Cash</option><option value="check">Check</option><option>EFT/Debit</option><option value="credit">Credit</option><option>Other</option></select><p>

      <div id="checkOptions" style="display: none">
        <p>What was the <strong>check number</strong>? <input type="text" size="6" /></p>
      </div>

      <div id="creditOptions" style="display: none">
        <p><strong>Which account</strong> will be used to <strong>repay this credit</strong>? <select><option>Checking</option><option>Savings</option><option>Mastercard</option><option>Visa</option></select></p>
        <p><strong>Which bucket</strong> will be used to <strong>repay this credit</strong>? <select onchange="$('creditOptions.multipleBuckets').hide(); if(this.options[this.selectedIndex].value == '+') { $('creditOptions.multipleBuckets').show(); }"><option>Groceries</option><option>Household</option><option>Books</option><option>Auto:Fuel</option><option>Baby Supplies</option><option value="+">&mdash; More than one &mdash;</option><option>&mdash; Add a new bucket &mdash;</option></select></p>

        <div id="creditOptions.multipleBuckets" style="display: none">
          <p>Multiple buckets will be used to repay this credit. <span><strong>$75.14</strong> remains unassigned.</span></p>
          <ol>
            <li>$<input type="text" size="8"> will be repaid from <select><option>Groceries</option><option>Household</option><option>Books</option><option>Auto:Fuel</option><option>Baby Supplies</option><option>&mdash; More than one &mdash;</option><option>&mdash; Add a new bucket &mdash;</option></select></li>
            <li>$<input type="text" size="8"> will be repaid from <select><option>Groceries</option><option>Household</option><option>Books</option><option>Auto:Fuel</option><option>Baby Supplies</option><option>&mdash; More than one &mdash;</option><option>&mdash; Add a new bucket &mdash;</option></select></li>
          </ol>
          <p><a href="">More buckets, please!</a></p>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Payment Source</legend>

      <p><strong>Which account</strong> was this drawn from? <select><option>Checking</option><option>Savings</option><option>Mastercard</option><option>Visa</option></select></p>
      <p><strong>Which bucket</strong> was this drawn from? <select onchange="$('paymentSource.multipleBuckets').hide(); if(this.options[this.selectedIndex].value == '+') { $('paymentSource.multipleBuckets').show(); }"><option>Groceries</option><option>Household</option><option>Books</option><option>Auto:Fuel</option><option>Baby Supplies</option><option value="+">&mdash; More than one &mdash;</option><option>&mdash; Add a new bucket &mdash;</option></select></p>

      <div id="paymentSource.multipleBuckets" style="display: none">
        <p>This expense drew from multiple buckets. <span><strong>$75.14</strong> remains unassigned.</span></p>
        <ol>
          <li>$<input type="text" size="8"> was drawn from <select><option>Groceries</option><option>Household</option><option>Books</option><option>Auto:Fuel</option><option>Baby Supplies</option><option>&mdash; Add a new bucket &mdash;</option></select></li>
          <li>$<input type="text" size="8"> was drawn from <select><option>Groceries</option><option>Household</option><option>Books</option><option>Auto:Fuel</option><option>Baby Supplies</option><option>&mdash; Add a new bucket &mdash;</option></select></li>
        </ol>
        <p><a href="">More buckets, please!</a></p>
      </div>
    </fieldset>

    <p><input type="submit" value="Record this expense"> or <a href="javascript:$('new_expense').hide(); $('data').show()">cancel</a></p>
  </form>
</div>

<div id="data" class="content">
  <table>
    <tr class="account"><th><a href="">Checking</a></th><td class="number total">$1,234.56</td></tr>
    <tr class="bucket odd"><td><a href="">Groceries</a></td><td class="number negative">-$100.00</td></tr>
    <tr class="bucket even"><td><a href="">Household</a></td><td class="number">$200.17</td></tr>
    <tr class="bucket odd"><td><a href="">Books</a></td><td class="number">$100.00</td></tr>
    <tr class="bucket even"><td><a href="">Auto:Fuel</a></td><td class="number">$250.00</td></tr>
    <tr class="bucket odd"><td><a href="">Baby Supplies</a></td><td class="number">$145.45</td></tr>
    <tr class="bucket"><td colspan="2" class="more">&rarr; <a href="">see all 35 buckets</a></td></tr>
    <tr class="account"><th><a href="">Savings</a></th><td class="number total">$1,234.56</td></tr>
    <tr class="bucket odd"><td><a href="">Vacation</a></td><td class="number">$200.00</td></tr>
    <tr class="bucket even"><td><a href="">General</a></td><td class="number">$1,034.56</td></tr>
    <tr class="account"><th><a href="">Mastercard</a></th><td class="number negative total">-$123.45</td></tr>
    <tr class="account"><th><a href="">Visa</a></th><td class="number negative total">-$12.34</td></tr>
  </table>
</div>