<div id="data" class="content">
  <h2>
    <%= balance_cell(account, :classes => %w(total balance), :tag => "span") %>
    <%=h account.name %>
  </h2>

  <table class="entries">
    <%= render(@items) %>
  </table>
</div>
